[submodule "geckopy"]
	path = geckopy
	url = https://github.com/SysBioChalmers/geckopy.git
	branch = develop
	shallow = true
[submodule "GECKO"]
	path = GECKO
	url = https://github.com/SysBioChalmers/GECKO.git
	branch = develop4
	shallow = true
